header {
  padding: 10px;
  text-align: center;
  background: #31E0FF;
  font-size: 15px;
}

footer {
  padding: 8px;
  text-align: left;
  background: gray;
  font-size: 15px;
}

body {
  background: #FAAC58;
}